<div class="container" id="FlickrPhotoSearchApp">
  <header>
    <div class="col-md-6 col-md-offset-3">
      <section id="frm-search">
        <div class="form-group">
          <div class="input-group">
            <input id="q" type="text" class="form-control" placeholder="e.g: Red Panda">
            <span class="input-group-addon"><span class="fa fa-search"></span></span>
          </div>
        </div>
      </section>
    </div>
  </header>

  <section id="flickrPhotos">
    <ul id="listings">

    </ul>
  </section>

  <footer>
    <section>
      <div id="wrapPagination" class="col-md-6"></div>
      <div id="wrapStats" class="col-md-6"></div>
    </section>
  </footer>

</div>
