<div class="container" id="FlickrPhotoSearchApp">
  <header>
    <div class="container"><div class="col-md-6 col-md-offset-3">
      <section id="frm-search">
        <div class="form-group">
          <i class="fa fa-search"></i>
          <i class="q-spinner fa fa-circle-o-notch fa-spin hidden"></i>
          <a href="javascript://" class="btn-clear-search hidden"><i class="fa fa-times"></i></a>
          <input id="q" type="text" class="form-control input-lg" placeholder="e.g: Red Panda">
        </div>
      </section>
    </div></div>


    <section>
      <div id="wrapPagination" class="container"></div>
    </section>
  </header>

  <section id="flickrPhotos">
    <div class="container">
      <div class="col-md-12">
        <ul id="listings">

        </ul>
      </div>

      <div id="preview" class="col-md-12">

      </div>
    </div>
  </section>

  <footer>
    <section>
      <div id="wrapStats" class="col-md-6"></div>
    </section>
  </footer>

</div>
